<!-- Foter -->
<footer class="page-section bg-gray-lighter footer pb-60">
    <div class="container">
        
        <!-- Footer Logo -->
        <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.2s">
            <a href="#top"><img src='{{ "/assets/images/hectiq_logo_black.png"| relative_url }}' width="78" height="36" alt="Hectiq Logo" /><span class="sr-only">Scroll to the top of the page</span></a>
        </div>
        <!-- End Footer Logo -->
        <div class="footer-social-links ">
            <div class="newsletter-label font-alt">
                Made with the support of
            </div>
            <img class="subventions" src='{{ "/assets/images/logos/Region_NA_small.png"| relative_url }}' width="64" alt="Region Nouvelle Aquitaine Logo" />
            <br>
            <br>
            <img class="subventions" src='{{ "/assets/images/logos/CNC-Logo_small.png"| relative_url }}' width="180" height="36" alt="CNC Logo" />
            <br>
            <br>
            <br>
        </div>
        <div class="footer-social-links mb-30 mb-xs-60">
        {% include blocks/social_links.html  %}
        </div>
        
        <!-- Footer Text -->
        <div class="footer-text">
            
            <!-- Copyright -->
            <div class="footer-copy font-alt">
                <a target="_blank">© Hectiq 2024</a>.
            </div>
            <!-- End Copyright -->
            
            <!-- <div class="footer-made">
                Made with love for great people.
            </div> -->

             <div>
                <a href="{{ site.baseurl }}/privacy" title="Privacy Policy" rel="noopener" target="_blank"> Privacy Policy</a>
                
            </div>
            
        </div>
        <!-- End Footer Text --> 
        
    </div>
    
    
    <!-- Top Link -->
    <div class="local-scroll">
        <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i><span class="sr-only">Scroll to top</span></a>
    </div>
    <!-- End Top Link -->
    
</footer>
<!-- End Foter -->





</div>