
      
<!-- Navigation panel -->
{% if page.layout=="job_offer" %}
<nav class="main-nav dark">
{% else if page.layout=="careers" %}
<nav class="main-nav dark stick-fixed">
{% else %}
<nav class="main-nav dark transparent stick-fixed">
{% endif %}
    <div class="full-wrapper relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="{{ site.baseurl }}/#top" class="logo">
                <img src='{{ "/assets/images/hectiq_logo.png"| relative_url }}' alt="Hectiq logo" />
            </a>
        </div>
        <div class="mobile-nav" role="button" tabindex="0">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Menu</span>
        </div>
        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist scroll-nav local-scroll">
                <li class="active"><a href="{{ site.baseurl }}/#home">Home</a></li>
                <li><a href="{{ site.baseurl }}/careers">Careers</a></li>
                <li><a href="{{ site.baseurl }}/#about">About</a></li>
                <li><a href="{{ site.baseurl }}/#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navigation panel -->