
<div class="col-sm-6 col-md-4 col-lg-4">
    <div class="alt-features-item align-left wow fadeIn" data-wow-delay=".1s" data-wow-duration="1.5s">
        <div class="mb-20">
            <img src="{{ include.logo_url }}" alt="{{ include.logo_description}}" />
        </div>
        <h3 class="alt-features-title" style="text-align: center;"><a href="{{ include.link }}">{{ include.title }}</a></h3>
        <!-- <div class="alt-features-descr align-left">
            Lorem ipsum dolor sit amet adipiscing elit. 
            In maximus ligula semper metus pellentesque mattis. 
            Maecenas  volutpat, diam enim.
        </div> -->
    </div>
</div>