<!-- Social Links -->

<!-- footer-social-links -->

    <a href="https://twitter.com/hectiqgames" title="Twitter" rel="noopener" target="_blank"><i class="fa fa-twitter"></i> <span class="sr-only">Twitter profile</span></a>
    <a href="https://www.linkedin.com/company/hectiq-games/" rel="noopener" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i> <span class="sr-only">LinkedIn+ profile</span></a>
    <a href="mailto:info@hectiq.games" title="Mail" target="_blank"><i class="fa fa-envelope"></i> <span class="sr-only">Mail us</span></a>

<!-- End Social Links -->
