<form class="form align-center" id="Newsletter">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
            
            <div class="newsletter-label font-alt">
                Stay informed with our newsletter
            </div>
            
            <div class="mb-20">
                    <input id="email" name="EMAIL" placeholder="Enter Your Email" class="newsletter-field form-control input-md round mb-xs-10" type="email" pattern=".{5,100}" required aria-required="true" >
                <!-- PHANTOM ELEMENT ( HONEYPOT CAPTCHA FOR SECURITY ) -->
                
                <input id="name" placeholder="name" type="name" name="name" class="honey">
                <!-- /PHANTOM ELEMENT ( HONEYPOT CAPTCHA FOR SECURITY ) -->
                    <button type="submit" id="newsletter-submit" name="newsletter-submit"
                    aria-controls="subscribe-result" 
                    class="btn btn-mod btn-medium btn-round mb-xs-10 g-recaptcha" 
                    data-sitekey="6LfNfJUnAAAAAN4EZ6ToHB1_LPR8YJAzdOSC-9Wi"
                    data-callback="onNewsletterSubmit"
                    data-action='submit'>Subscribe
                    </button>
            </div>
            
            <!-- <div class="form-tip">
                <i class="fa fa-info-circle"></i> Please trust us, we will never send you spam
            </div> -->
            
            <div id="subscribe-result" role="region" aria-live="polite" aria-atomic="true"></div>
            
        </div>
    </div>
</form>