<!DOCTYPE html>

<html lang="en">
  
  <head>
    <meta charset="utf-8" />
    <meta name="robots" content="noodp" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>{{ page.title }}</title>

    <link rel="shortcut icon" href='{{ "/assets/favicon.png" | relative_url }}' />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:300,400" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href='{{ "/assets/css/plugins.css" | relative_url }}' />
    <link rel="stylesheet" type="text/css" href='{{ "/assets/css/style.css" | relative_url }}' />
    <link rel="stylesheet" type="text/css" href='{{ "/assets/css/hero.css" | relative_url }}' />
    <link rel="stylesheet" type="text/css" href='{{ "/assets/css/custom.css" | relative_url }}' />

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
  </head>
  <body>

    {{ content }}
    
    <footer>
      <a href="{{ '/privacy' | relative_url }}" style="color: white;">Privacy Policy</a>
    </footer>
    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript" src='{{ "/assets/js/plugins/plugins.js" | relative_url }}'></script>
    <script type="text/javascript" src='{{ "/config.js" | relative_url }}'></script>
    <script type="text/javascript" src='{{ "/assets/js/scripts.js" | relative_url }}'></script>
    <script type="text/javascript" src='{{ "/assets/js/hero.js" | relative_url }}'></script>
    <script type="text/javascript" src='{{ "/assets/js/custom.js" | relative_url }}'></script>
    
    {% include cookie-consent.html %}

    
    
  </body>
</html>
