---
layout: default
---
<!-- <main id="main"> -->
            
    <!-- Head Section -->
    <section class="small-section bg-gray-lighter">
        <div class="relative container align-left">
            
            <div class="row">
                
                <div class="col-md-8">
                    <h1 class="hs-line-11 no-transp font-alt mb-20 mb-xs-0">About Us</h1>
                    <div class="hs-line-4 font-alt black">
                        Extraordinary art team &&nbsp;creative minimalism lovers
                    </div>
                </div>
                
                <div class="col-md-4 mt-30">
                    <div class="mod-breadcrumbs font-alt align-right">
                        <a href="#">Home</a>&nbsp;/&nbsp;<a href="#">Pages</a>&nbsp;/&nbsp;<span>About Us</span>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </section>
    <!-- End Head Section -->
    
    
    
    <!-- About Section -->
    <section class="page-section" id="about">
        <div class="container relative">

            
            
            <div class="section-text mb-60 mb-sm-40">

                
                <div class="row">

                    {{ content }}                    
                    
                </div>
            </div>
            
            
        </div>
    </section>
    <!-- End About Section -->
    
    
    
    
    <!-- Call Action Section -->
    <section class="small-section ">
        <div class="container relative">
            
            <div class="align-center">
                <h3 class="banner-heading font-alt">Want to discuss your new project?</h3>
                <div>
                    <a href="" class="btn btn-mod btn-w btn-medium btn-round">Lets tallk</a>
                </div>
            </div>
            
        </div>
    </section>
    <!-- End Call Action Section -->

<!-- </main> -->
