---
layout: default
---
<section class="home-section bg-dark-alfa-50 parallax-2">
    <div class="js-height-full">
        
        <!-- Hero Content -->
        <div class="home-content">
            <div class="pdf-container">
                <embed class="pdf-reader" src='{{page.pitch}}#zoom=FitH' type="application/pdf" >
                    <p>If you can't view the PDF, you can <a href='{{page.pitch}}'>download it here</a>.</p>
                </embed>
            </div>
            <!-- Fallback link for non-PDF supported browsers -->
            
        </div>
        <!-- End Hero Content -->
        
    </div>
</section>

<style>
    /* CSS for mobile devices with a maximum width of 768px (adjust as needed) */
    .pdf-container {
        width: 100%;
        height: 100%;
    }

    .pdf-reader {
        display: block; /* Makes sure it takes up the full width */
        width: 100%;
        height: 100vh;
        border: none; /* Removes any default borders */
    }
    /* Adjust the height for mobile devices */
    @media (max-width: 768px) {
        .home-content embed {
            height: 300px;   
        }
    }

    
</style>