---
layout: default
---
<section class="home-section bg-dark-alfa-50 parallax-2">
    <div class="js-height-full">
        
        <!-- Hero Content -->
        <div class="home-content">
            <embed src='{{page.pitch}}#zoom=FitH' type="application/pdf" style="margin-top:5%; width:1920px;height:1000px">
                <p>If you can't view the PDF, you can <a href='{{page.pitch}}'>download it here</a>.</p>
            </embed>
            <!-- Fallback link for non-PDF supported browsers -->
            
        </div>
        <!-- End Hero Content -->
        
    </div>
</section>

<style>
    /* CSS for mobile devices with a maximum width of 768px (adjust as needed) */
    @media (max-width: 768px) {
        .home-content embed {
            height: 300px; /* Adjust the height for mobile devices */
        }
    }
</style>